body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    align-items: center;
    background-color: black;
    font-size: 22px;
    padding: 10px;
}

.logo{
    position: absolute;
    top: 0px;
    left: 10px;
    float: left;
    color: white;
    font-weight: bold;
}

.logo span{
    color:  #f1b165;
    font-style: italic;
    font-size: 40px;
}

.navbar a:hover{
    color: #f1b165;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

nav li {
    margin: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80.2vh;
    box-sizing: border-box;
}

.background-image {
    background-image: url(../images/musician-g1da207504_1280.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: -1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.text {
    padding: 15px;
    max-width: 750px;
    color: #fff;
}

.text h1{
    font-size: 50px;
    color: #fff;
    font-style: italic;
    margin: 0;
}

.text p{
    font-size: larger;
    color: #fff;
    font-style: oblique;
    margin: 0;
}

.invitacion{
    font-size: 30px;
    color: #fff;
    font-style: italic;
}


footer{
    background-color: #000;
    color: white ;
    text-align: center;
    font-size: 13px;
    padding: 5px;
}
footer p {
    margin-bottom: 10px;
}

footer i{
    color: #f1b165;
    font-size: 15px;
    letter-spacing: 30px;
}
.Redes{
    flex-direction: column;
}


/**CLASS DE PROGRAMAS**/
.containerP{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea cuando el ancho es menor */
    justify-content: flex-end; /* Ajusta los elementos a la derecha */
}

.textP {   
    padding: 10px;
    margin: 5px;
    flex-basis: calc(33.33% - 20px);
    color: #fff;
}

.textP h1{
    font-size: 40px;
    color: #fff;
    font-style: italic;
    margin: 0;
}

.textP p{
    font-size: larger;
    color: #fff;
    font-style: oblique;
    margin: 0;
}

/**Carrusel imagnes Galeria**/
.main_galeria{
    height: calc(100vh - 80px);
    background-color: #000000;  
}
.slide {
    /**position: absolute;**/
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    
}
.slide-inner {
    /**position: relative;
    margin: 0 auto;**/
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
    
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: calc( 300px + 3em);
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/**CLASS DE CONTACTO**/
.containerC{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Ajusta los elementos a la derecha */
}

.textC {   
    padding: 10px;
    margin: 5px;
    flex-basis: calc(55% - 20px);
    color: #fff;
}

.formulario {
    flex-basis: calc(55% - 20px);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textC h1{
    font-size: 40px;
    color: #fff;
    font-style: italic;
}

.textC p{
    font-size: larger;
    color: #fff;
    font-style: oblique;
}

.textC i{
    margin-top: 15px;
    font-size: larger;
    color: #fff;
    font-style: oblique;
}

.maps{
    justify-content: center;flex-basis: calc(55% - 20px);
}